%%=============================================================================
%% Autosys job definition template
%%  
%%=============================================================================
Here I need to insert or and
%call="test" @element=$source.%
%if $.Type != "Activity" and $.Type == "blah"%
	%exit%
%endif%

$type="cmd"
$suffix="_c"
%if $.Stereotype == "Box Job"%
	$type="box"
	$suffix="_b"
%endif%
$JobName = $this.Name + $suffix
%if $$prefix != ""%
	$JobName = $$prefix + "_" +$JobName
%endif%
%%=============================================================================

/* $.Stereotype: $JobName  
 * Description: $.Notes
 *****************************************************************************/ 
insert_job: %REPLACE(%LOWER($JobName)%," ","_")% type:$type
%list=$.Connectors @template="jobConnector" @parameters=$.ElementID @separator=" and "%
/*****************************************************************************/ 

%%=============================================================================
%%list=$.Elements @template="activity"%