Name		: $.Name
Type		: $.Type
Stereotype	: $.Stereotype
ElementID	: $.ElementID 
ObjectType	: $.ObjectType
****************************************************************
$.Name %eq% %list=$.CustomProperties @template="parameter-properties" ($.Name == "default")%

