%%=============================================================================
%% Autosys job definition template
%%  
%%=============================================================================

%if $.Type != "Activity"%
	%exit%
%endif%

$type="cmd"
$suffix="_c"
%if $.Stereotype == "Box Job"%
	$type="box"
	$suffix="_b"
%endif%
$JobName = $this.Name + $suffix
%if $$prefix != ""%
	$JobName = $$prefix + "_" +$JobName
%endif%
%%=============================================================================

/* $.Stereotype: $JobName  
 * Description: $.Notes
 *****************************************************************************/ 
insert_job: %REPLACE(%LOWER($JobName)%," ","_")% type:$type
%list=$.Connectors @template="jobConnector"%
/*****************************************************************************/ 

%%=============================================================================
%%list=$.Elements @template="activity"%