%%*****************************************************************************
%% Autosys job definition template
%%  
%%*****************************************************************************

%if $.Type != "Activity"%
	%exit%
%endif%

$JobName = $.Name
%if $$prefix != ""%
	$JobName = $$prefix + "_" +$JobName
%endif%

/*
 * Job $JobName
 *****************************************************************************/ 
insert_job: $JobName
Type       %eq% $.Type
Stereotype %eq% $.Stereotype
/*****************************************************************************/ 
%list=$.Elements @template="activity"%