%%=============================================================================
%% JobConnector template
%%=============================================================================
%%
%%
Connector: [$.Type.$.Name] Source($.ClientID): [$source.Type.$source.Name] -> Target($.SupplierID): [$target.Type.$target.Name]