%%
%% Description: Template to demonstrate template call
%% ============================================================================
-- Stream Header called without parameters -----------
%call="TCF_StreamHeader"%

-- Stream Header called with parameters -----------
%call="TCF_StreamHeader" @parameters="//"%
