%%
%% Description: TCF Stream header
%% ============================================================================
$1 ----------------------------------------------------------------------------
$1 TCF Stream
$1 Name		: $.Name
$1 Stream ID	: $."TCF::Stream ID"
$1 Executes	: $."AS::days_of_week" @ $."AS::start_time"
$1 Description	: $.Notes
$1 ----------------------------------------------------------------------------


