%%
%% Description: Template to generate Autosys Job
%% 
%% History
%%
%% Version Date    Developer           Description
%% ------- ------- ------------------- ----------------------------------------
%% ============================================================================
%if $.Stereotype != "EndStream"%
	%exit%
%endif%
//Here will be TCF RQM4 Job