################################################################################
Name			:$.Name	
ConnectorID		:$.ConnectorID 
Type			:$.Type	
Subtype			:$.Subtype
Stereotype		:$.Stereotype
ConnectorGUID		:$.ConnectorGUID
Tag Value		:$."EventType"
--------------------------------------------------------------------------------
Source Role properties
--------------------------------------------------------------------------------
%call @template="connectorRole_properties" @element=$sourceRole.%

--------------------------------------------------------------------------------
Target Role properties
--------------------------------------------------------------------------------
%call @template="connectorRole_properties" @element=$targetRole.%
