Name		:$.Name	
ConnectorID	:$.ConnectorID 
Type		:$.Type	
Subtype		:$.Subtype
Stereotype	:$.Stereotype
ConnectorGUID	:$.ConnectorGUID 
--------------------------------------------------------------------------------