Name		:$.Name	
ElementID	:$.ElementID 
Type		:$.Type	
Subtype		:$.Subtype
Stereotype	:$.Stereotype
ElementGUID	:$.ElementGUID 
--------------------------------------------------------------------------------