List connectors start
################################################################################
%list=$.Connectors @template="connector_properties"%
################################################################################
List connectors End
