%if $1 == "assignment"%
	$mode = "override"
%else%
	$mode = $1
%endif%		
%if $1 == ""%
	%file="file11-default.out"%
This text will go to file11-default. Mode %eq% [$1]
%else%	
	%file="file11.out" @mode=$mode%
This text will go to file11 [%FILE%]. Mode %eq% [$1]
%endif%	
