%DEBUG("=== Test #01 ========================")%
%split="aaa,bbb,ccc" @template="split_x01"%

%DEBUG("=== Test #02 ========================")%
%split="aaa,bbb,ccc" @template="split_x01" @separator="="%

%DEBUG("=== Test #03 ========================")%
%split="aaa:bbb:ccc" @template="split_x01" @delimiter=":"%

%DEBUG("=== Test #04 ========================")%
%split="aaa:bbb:ccc" @template="split_x01" @delimiter=":" @separator="\t"%