Simple {text} with_characters. + just characters -*:/[]<>~!?@#^&\|'`; 
Some keywords: and not or
'%dl%'|'%pc%'|'%eq%'|'%qt%'|'%us%'
%nl%
'%dl%'|'%pc%'|'%eq%'|'%qt%'|'%us%'
$var = %dl% +"|"+ %pc% +"|"+ %nl% +"|"+ %eq% +"|"+ %qt% +"|"+ %us%
$var
DATE: %DATE% TIME: %TIME%